In [1]:
print("Hello World")

Hello World

In [2]:
#자바 :정적타입 : 개발자가 타입을 명시 : ex) String name = "정문희";
#파이썬 : 동적타입 : 메모리에 할당 된 값을 보고 언어가 유추하여 타입 지정 : ex) name = "정문희";
name = "정문희"
print(name)

정문희

In [3]:
class1 = "휴먼교육센터 3클래스"
print(class1, name)
#= print(class1 + name)

휴먼교육센터 3클래스 정문희

In [8]:
#import : 라이브러리 pandas를 가져다 씀 / as : 별칭 정하기
import pandas as pd
#dict_data : 변수 : 변화하는 수 (<>상수)
#우측항 데이터를 좌측 항 변수에 저장(할당)
# 'a' : 1 (a를 호출하면 1이라는 값 출력)
dict_data = {'a':1, 'b':2, 'c':3, '정문희':'학생'}
#pd.(판다스의 별칭)의 Series메서드를 실행
#인자값 dict_data를 넣음
sr = pd.Series(dict_data)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a       1
b       2
c       3
정문희    학생
dtype: object

In [9]:
#참조타입 : 변수와 변수값을 연결하는 타입
list_data = ['2019-01-02', 2.14, 'ABC', 100, True]
#sr이라는 변수이름의 원래 데이터는 dict_data였으나,
#list_data로 만들어진 값을 sr변수에 대체 연결
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          2.14
2           ABC
3           100
4          True
dtype: object

In [13]:
#학생의 개인정보를 저장하는 딕셔너리 배열을 만들고, 
#(이름, id, password, 성별 등등) 그 중에 이름을 출력하는 print메서드를 실행하시오.
#{}:중괄호 : map{key:value}
#[]:대괄호 : 배열[1,2,3,4,...]
Student = {'이름' : '정문희', 'id' : 'moon', 'pw' : 'jmh1234', '성별' : 'F'}
#향상된 반복문
#자바) for(String item : stringArray)
#기본 반복문과 동일하나, 배열 처음부터 끝까지 모두 조회를 간략화한 코드 
#파이썬)
#item in itemArray:
#itemArray 배열을 모두 순회하면서 하나씩 가져옴
if '이름' in Student:
    print('나의 이름은 : '+Student['이름'])
else:
    print('이름 없음')

나의 이름은 : jmh1234

In [35]:
sr = pd.Series(Student, index = ['이름','id','pw','성별'])
print(sr)

이름        정문희
id       moon
pw    jmh1234
성별          F
dtype: object

In [45]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']], index=['준서','예은'], columns = ['나이','성별','학교'])
print(df)
print(df.loc['준서'])

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
나이     15
성별      남
학교    덕영중
Name: 준서, dtype: object

In [51]:
exam_data = {'수학' : [90,80,70], '영어': [98,89,95],
            '음악' : [85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data, index =['서준','우현','인아'])
print(df)
print('-------------------')

df2 = df[:]
df2 = df2.drop('우현')
print(df2)
print('--------------------')
df3 = df[:]
df3= df3.drop(['우현','인아'], axis=0)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
-------------------
    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90
--------------------
    수학  영어  음악   체육
서준  90  98  85  100

In [64]:
exam_data = {'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('------------')
df.loc[3] = 0
print(df)
print('------------')
#자바는 고정, 가변 배열이 나누어진 반면, 
#파이썬의 데이터 프레임은 바로 배열 번호를 작성하면 자유롭게 추가가능
df.loc[4] = ['동규', 90,80,70,60]
print(df)
print('------------')
df.loc['행5'] = df.loc[3]
print(df)
print('------------')
df=df.set_index('이름', inplace=True)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
------------
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
------------
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60
------------
    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0
------------
None

In [61]:
df.iloc[0][3]=80
print(df)
print('------------')
df.loc['서준']['체육'] = 90
print(df)
print('------------')
df.loc['서준',['음악','체육']]=50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90
0    0   0    0   0
동규  90  80   70  60
0    0   0    0   0
------------
    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90
0    0   0    0   0
동규  90  80   70  60
0    0   0    0   0
------------
    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90
0    0   0    0   0
동규  90  80   70  60
0    0   0    0   0

In [66]:
df = pd.DataFrame(df)
df = df.transpose()
print(df)
print('------------')
df = df.T #(클래스로 전치행렬) 하지만, 파이썬은 메서드를 사용하여 데이터를 처리함.
print(df)

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90
------------
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [ ]:
#데이터프레임은 2중배열로 columns와 rows로 구성되어있음
#df.loc[위치] : 튜플 추가
#drop : row(튜플) 삭제
#set_index : 어떤 열을 인덱스로 설정함.
#.transpose() : 행과 열의 위치 바꾸기

In [9]:
#학생 회원의 정보를 담는 데이터프레임을 만들고 추가, 삭제, 변경하는 메서드 만들기
#ex) 이름, 학번, 성별, 입학날짜, 기타사항 .. 컬럽(데이터프레임)을 만들고
#loc[len()],drop, set_index()를 각각 실행하는 def 메서드 3개를 만들어 실행하는 코드 작성
#*SOLID 원칙에서 하나의 메서드는 하나의 기능만 실행가능하게 만들기
import pandas as pd
exam_data = {'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70],
             '영어' : [98,89,95],
             '음악' : [85,95,100],
             '체육' : [100, 90, 90]}
global ef
ef = pd.DataFrame(exam_data)
def Insert(name, num1, num2, num3, num4):
    global ef
    ef.loc[len(ef)] = [name, num1, num2, num3, num4]
    #ef.append(name, num1, num2, num3, num4)
def Update(name, num1, num2, num3, num4):
    global ef
    ef.loc[ef.이름 == name,('수학', '영어','음악','체육')] = (num1, num2, num3, num4)
def Delete(name):
    global ef
    #ef변수에 ef.이름이 '준수'가 아닌 값을 가져와서 ef에 할당(저장)
    # ef = ef.loc[ef.이름 != '준수']
    ef = ef.drop(index=ef.loc[ef.이름 == name].index)
Insert('준수', 10, 20, 30, 40)
print(ef)
print('-------------')
Update('준수',100,90,80,70)
print(ef)
print('-------------')
Delete('준수')
print(ef)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3  준수  10  20   30   40
-------------
   이름   수학  영어   음악   체육
0  서준   90  98   85  100
1  우현   80  89   95   90
2  인아   70  95  100   90
3  준수  100  90   80   70
-------------
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [76]:
#1.함수(메서드) 개념
#함수 : 재활용이 가능한 코드의 집합 = 메서드
#2.전역변수, 지역변수
#전역변수 : 여러 메서드들이 사용할 수 있는 변수
#지역변수 : 메서드 안에서만 존재하는 변수
a=10
#메서드
def test():
    global a #-> 전역변수 a를 가져옴.
    a=20
    print(a) #->지역변수
print(a)
test()
print(a) #->전역변수

10
20
20