In [1]:
import pandas as pd

In [ ]:
#회원가입 만들기
#1. id, pw, name 변수의 값을 저장하는 데이터 프레임을 만드시오
# dataFrame()으로 df변수 만들어서 안에 컬럼(id, pw, name)넣기
#2. id, pw, name 값을 받고, df(데이터프레임)에 저장하는 기능 구현
#3. id값을 찾아서 같은 id값이면  '같은 아이디가 있습니다.' 출력하는 메서드 구현
# if 문으로 id값 같은지 찾은 뒤, 문자열 출력
#4. id값을 찾아서 그 row의 pw값을 변경하는 메서드 구현
# 어제 Update 메서드 참고하기

In [54]:
global df
df = pd.DataFrame(index=range(0,0), columns = ['id', 'pw', 'name'])

In [58]:
def Insert(): 
    global df
    input_id = input('id: ')
    input_pw = input('pw: ')
    input_name = input('name: ')
    #df.append(id,pw,name)
    if (df.id == input_id).any() or (df.name == input_name).any():
        #all()은 값이 동일한 것이 존재하는지 확인 -> 한개라도 존재하면 true
        #any()는 값이 존재하는지 확인
        print("같은 아이디 혹은 이름이 있습니다.")
    else:
        df.loc[len(df)] = [input_id, input_pw, input_name]

def Update():
    global df
    id1 = input('id: ')
    pw = input('pw: ')
    name = input('name: ')
    df.loc[df.id == id1, ('pw', 'name')] = (pw , name)

In [59]:
print(df)

Empty DataFrame
Columns: [id, pw, name]
Index: []

In [73]:
Insert()

id:  dog
pw:  4567
name:  정슬기

In [68]:
print(df)

     id    pw name
0  moon  1234  정문희
1   sun  9876  김택선

In [84]:
print(df.iloc[:,1:3]) #iloc[row, column]
print('-------------')
print(df.iloc[1:,:-1])

     pw name
0  1234  정문희
1  9876  김택선
2  3456  김시연
3  4567  정슬기
-------------
    id    pw
1  sun  9876
2  gom  3456
3  dog  4567